.projects-outer-container {
	display: flex;
	background-color: var(--color-black);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translateY(110vh);
	@media only screen and (max-width: 800px) {
		padding: 3rem;
		position: relative;
		transform: translateY(0vh);
	}
}

.projects-container {
	max-width: 140rem;
	z-index: 90;
	transform: translateY(-10px);

	display: flex;
	flex-direction: column;
	align-items: center;
}

// Project cards stylings

.projects {
	margin-top: 12rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	background-color: var(--color-black);
	margin-bottom: 8rem;
	margin-left: 2rem;
	margin-right: 2rem;
	@media only screen and (max-width: 850px) {
		display: flex;
		flex-direction: column;
	}

	&:before,
	&:after {
		z-index: -10;
		content: '';
		background: rgb(176, 0, 178);
		background: linear-gradient(
			333deg,
			rgba(176, 0, 178, 0.981127485173757) 0%,
			#fd7f2c 100%
		);
		width: 35rem;
		height: 35rem;
		position: absolute;
	}

	&:before {
		top: -2rem;
		left: -2rem;
		border-radius: 20px 0px 0px 0px;
		clip-path: polygon(
			50% 0%,
			100% 0,
			87% 12%,
			100% 70%,
			80% 90%,
			50% 100%,
			12% 89%,
			0 100%,
			0% 35%,
			0 0
		);
	}
	&:after {
		bottom: -2rem;
		right: -2rem;
		border-radius: 0px 0px 20px 0px;
		clip-path: polygon(
			90% 11%,
			100% 0,
			100% 11%,
			100% 70%,
			100% 100%,
			50% 100%,
			21% 100%,
			0 100%,
			14% 86%,
			0 0
		);
	}
}

.project-img {
	background: url('../../assets/logo4.png');
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 16px;
	@media only screen and (max-width: 850px) {
		display: flex;
		flex-direction: column;
		height: 40rem;
	}
}

.project-desc {
	color: white;
	padding: 3rem;
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	&--header {
		font-size: 3rem;
		text-align: center;

		margin-bottom: 1.7rem;
	}

	&--para {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}

	&--link {
		border: 1px solid white;
		display: block;
		font-size: 1.8rem;
		text-align: center;
		width: 50%;
		padding: 1rem;
		text-decoration: none;
		color: white;
		margin-top: 1rem;
		align-self: center;
		transition: all 0.3s;
		@media only screen and (max-width: 600px) {
			width: 80%;
		}
		&:hover {
			background-color: white;
			color: black;
			transform: translateY(-2px) scale(1.05);
		}
	}

	&--technologys {
		font-size: 2.2rem;
		font-weight: 500;
		margin-top: 1rem;
		p {
			margin-bottom: 1rem;
		}

		img {
			height: 50px;
			display: inline-block;
			margin-right: 2rem;
			transition: all 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.projects-header {
	font-size: 4rem;
	color: #fff;
	margin-top: 2rem;
}

.a-md {
	font-size: 1.8rem;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: 1px solid white;
	padding: 0.6rem 1.2rem;
	transition: all 0.3s;

	&:hover {
		background-color: white;
		color: black;
		transform: translateY(-2px) scale(1.05);
	}
	@media only screen and (max-width: 500px) {
		display: block;
		text-align: center;
		margin-bottom: 0.5rem;
	}
}

.repo-links {
	display: flex;
	justify-content: space-around;
	@media only screen and (max-width: 500px) {
		display: unset;
	}
}
