.contact-container {
	display: flex;
	height: 50rem;
	width: 100%;
	max-width: 140rem;
	// background-color: red;
	margin-bottom: 10rem;
	position: relative;
	@media only screen and (max-width: 720px) {
		flex-direction: column;
		align-items: center;
		height: auto;
	}
}

.contact-description {
	// background-color: blue;
	border: 1px solid white;
	width: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	@media only screen and (max-width: 720px) {
		min-height: 40rem;
		width: 100%;
	}

	&--header {
		font-size: 4.5rem;
		@media only screen and (max-width: 850px) {
			font-size: 3rem;
		}
	}

	&--para {
		font-size: 1.8rem;
		color: #cdcecf;
		margin-bottom: 4rem;
	}

	&--email {
		font-size: 1.8rem;
		font-weight: 600;
		text-align: left;
	}
}

.contact-form-container {
	width: 50%;
	display: flex;
	justify-content: center;
	@media only screen and (max-width: 720px) {
		width: 100%;
		margin-top: 7rem;
	}
}

.contact-form {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&--group {
		color: white;
		display: block;
		margin-bottom: 2.5rem;

		& span {
			display: block;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}

		& input {
			padding: 1.8rem;
			width: 100%;
			border-radius: 8px;
			background-color: #e1e3e6;
			border: none;
			font-size: 1.6rem;
		}

		& textarea {
			width: 100%;
			background-color: #e1e3e6;
			font-size: 1.6rem;
			padding: 1rem;
			border-radius: 8px;
		}
	}
}

.contact-btn {
	border: 1px solid white;
	display: block;
	font-size: 1.8rem;
	text-align: center;
	width: 50%;
	padding: 1rem;
	text-decoration: none;
	color: white;
	margin-top: 1rem;
	align-self: left;
	transition: all 0.3s;
	background-color: var(--color-black);
	&:hover {
		background-color: white;
		color: black;
		transform: translateY(-2px) scale(1.05);
		cursor: pointer;
	}
}

.modal-title {
	padding: 3rem;
	font-size: 1.8rem;
}

.contact-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
