* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-purple: #93009c;
	--color-purple-dark: #6b0078;
	--color-purple-very-dark: ##380356;
	--color-purple-light: #b000b2;
	--color-darkgrey: #3d3e51;
	--color-black: #2d2d2d;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
